---
import Layout from "../layouts/Layout.astro";
import "@/styles/main.css";
import MicroGridOptimizer from "@/components/microgrid-animation";
import IntroPage from "@/components/table";
---

<Layout title="Welcome to GridSense AI">
  <main>
    <MicroGridOptimizer client:load />

    <IntroPage client:load />
  </main>
</Layout>
